/* ------------------- */
/* TEMPLATE        -- */
/* ----------------- */



body {

	background: #F8F8F8;
	color: whitesmoke;
	font-size: 16px;
	font-family: 'Lato';
}
h1 { font-size: 32px; color: black;}
h2 { font-size: 26px; color: black;}
h3 { font-size: 18px;color: black; }
p { margin: 0 0 15px; line-height: 24px; color: gainsboro; color: black;}

a:hover { color: tomato; }

.container {
	max-width: 1180px;

	margin: 0 auto;
	padding: 40px 30px 40px 100px;
}

/* ------------------- */
/* PEN STYLES      -- */
/* ----------------- */

/* MAKE IT CUTE ----- */
.tabs {
	position: relative;
	display: flex;
	height: 300px;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
}

.tabby-tab {
	flex: 1;
}

.tabby-tab label {
	display: block;
	box-sizing: border-box;
	/* tab content must clear this */
		height: 40px;
	color: #B9B9B9;
	padding: 10px;
	text-align: center;
	background: #F7F7F7;
	cursor: pointer;
	transition: background 0.5s ease;
	border-radius: 30px 30px 0px 0px;

}

.tabby-tab label:hover {

}

.tabby-content {
	position: absolute;

	left: 0; bottom: 0; right: 0;

		top: 40px;
        height: auto;

	padding: 20px;
	border-radius: 0 0 8px 8px;
	background: #FFFFFF;

	transition:
		opacity 0.8s ease,
		transform 0.8s ease		;

	/* show/hide */



}

.tabby-content img {
	float: left;
	margin-right: 20px;
	border-radius: 8px;
}


/* MAKE IT WORK ----- */

.tabby-tab [type=radio] { display: none; }
[type=radio]:checked ~ label {
	background: #FFFFFF;
	color: #1C1C23;
	border-radius: 30px 30px 0px 0px;
	z-index: 2;
}

[type=radio]:checked ~ label ~ .tabby-content {
	z-index: 1;

	/* show/hide */
		opacity: 1;
		transform: scale(1);
}

/* BREAKPOINTS ----- */
@media screen and (max-width: 767px) {
	.tabs { min-height: 400px;}
}

@media screen and (max-width: 480px) {
	.tabs { min-height: 580px; }
	.tabby-tab label {
		height: 60px;
	}
	.tabby-content { top: 60px; }
	.tabby-content img {
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
}